/* * {
  box-sizing: border-box;
}*/



body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #515076;
  max-width: 1920px;
  background-image: url(images/background.png);
  background-position: 85px 0px;
  background-repeat: no-repeat;
  /* Важно, чтобы фон не повторялся */
  background-size: 790px 697px;
}



.title {
  font-size: 70px;
  line-height: 78px;
  font-weight: 400;
  margin-top: 220px;
  padding: 0px;
  text-align: center;
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  margin: 0px 85px;
  padding-left: 0px;
}

.product {
  background-color: #F7F7FA;
  width: 340px;
  padding: 25px;
  margin: 0px;
  list-style-type: none;
  box-sizing: border-box;
}

.product-image {
  width: 290px;
  height: 245px;
  display: block;

}

.product-tag {
  color: #A5A3B9;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 5px;

}

.product-name {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  margin: 0px 0px 5px 0px;
}



.product-description {
  line-height: 18px;
  margin-right: 28px;
  margin-bottom: 15px;
  margin-top: 0px;
}

.product-mini-title {
  margin: 0px;
}

.product-compound {
  line-height: 18px;
  margin-bottom: 0px;
  margin-top: 5px;
  padding-left: 21px;
}

li::marker {
  font-size: 18px;
}

.product-cost {
  display: flex;
  justify-content: space-between;

}

.product-sell {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 25px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
  margin-top: 25px;
}